/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- color
$Primary: #FFFFFF;
$Secondary: #3E68B7;
$Third: #FFFFFF;
$SecondaryPrimary: #B98340;
$SecondaryColor: #619CFF;
//- font