/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- color
$Primary: #D65600;
$Secondary: #FF973B;
$Third: #FFDB4D33;
$SecondaryPrimary: #68AF87;
$SecondaryColor: #FFFFFF;
//- font