/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

// color
$Primary: #27123E;
$Secondry: #15B0BF;
$Third: #0DE4F9;
$SecondryPrimart: #EF6278;
$white: #fff;