/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- color
$Primary: #260235;
$Secondary: #3C1B49;
$Third: #FFFFFF;
$SecondaryPrimary: #B98340;
$SecondaryColor: #619CFF;
//- font