/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

// color
$Primary: #003164;
$Secondry: #FF4384;
$Third: #FFEDF7;
$SecondryPrimart: #00A7FF;
$SecondryThird: #E5F3FF;