.game {
    // 讀取畫面
    .loading.loadingBg {
        background-color: $Primary
    }
    .loading {
        background-color: #fff;
        &__box {
            top: 15%;
            left: 50%;
            margin-left: -15.625rem;
            width: 31.25rem;
            height: 25rem;
            border: 0.1875rem solid $Secondry;
            border-radius: 0.75rem;
            color: $Secondry;
            padding: 2.9375rem 2.9375rem;
            font-size: 1.5rem;
            &-span {
                line-height: 2.8125rem;
            }
        }
        &__ProgressBox {
            top: 20%;
            // 兔子
            &-imgBox {
                width: 50rem;
                margin: 0 auto;
                transition: all .1s;
                .imgLoadingStyle {
                    animation: runLoadingImg 2s linear;
                    animation-fill-mode: forwards;
                }
            }
            // progressBar
            &-bar {
                width: 50rem;
                height: 1.125rem;
                background-color: #fff;
                border-radius: 0.3125rem;
                margin: 0 auto;
                margin-bottom: 2rem;
                padding: 0.25rem;
            }
            &-span {
                font-size: 2.25rem;
                color: #fff;
                font-style: italic;
            }
            &-barLine {
                background-color: $SecondryPrimart;
                border-top-left-radius: 0.3125rem;
                border-bottom-left-radius: 0.3125rem;
                transition: all .1s;
            }
            // 讀取時才會有 秒數自己設定(目前讀取時間寫死)
            &-barLine.barLoadingStyle {
                animation: runLoadingBar 2s linear;
                animation-fill-mode: forwards;
            }
        }
    }
    // 遊玩畫面
    .play {
        width: 1280px;
        margin: 0 auto;
        // 頂部
        &__header {
            background: url('~@/assets/img/bg-main-header.svg')no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 12.5rem;
            padding: 0 3.125rem;
            // 時間
            &-timeCol {
                color: #fff;
                font-size: 1.25rem;
                margin-top: 5.3125rem;
                &-box {
                    width: 5rem;
                    height: 1.875rem;
                    background-color: #214255;
                    border: 0.125rem solid #707070;
                    border-radius: 0.3875rem;
                    margin: 0 auto;
                }
            }
        }
        // 中間
        &__deck {
            height: 32.5rem;
            padding: 2.25rem 6.25rem;
            background: #89d7d1;
            /* Old browsers */
            background: -moz-linear-gradient(top, #89d7d1 0%, #57b7c8 34%, #51acc0 57%, #4391ab 85%, #2b648a 96%, #2b648a 96%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #89d7d1 0%, #57b7c8 34%, #51acc0 57%, #4391ab 85%, #2b648a 96%, #2b648a 96%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #89d7d1 0%, #57b7c8 34%, #51acc0 57%, #4391ab 85%, #2b648a 96%, #2b648a 96%);
        }
        // 底部
        &__footer {
            background-color: #2A6882;
            height: 5rem;
            &-btnBox {
                &-btn {
                    width: 160px;
                    height: 40px;
                    background-color: $Secondry;
                    border: 2px solid $Secondry;
                    color: $Primary;
                    border-radius: 4.39px;
                    transition: all .3s;
                    &:hover {
                        background-color: #fff;
                        border: 2px solid #fff;
                        color: $Secondry;
                    }
                    &:active {
                        box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, 0.5) inset;
                    }
                }
            }
        }
    }
}

// 跑讀取時的動畫
@-webkit-keyframes runLoadingBar {
    0% {
        width: 0%;
    }
    40% {
        width: 55%;
    }
    50% {
        width: 55%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 60%;
    }
    80% {
        width: 85%;
    }
    90% {
        width: 85%;
    }
    100% {
        width: 100%;
        border-radius: 5px;
    }
}

// 跑讀取時的兔子
@-webkit-keyframes runLoadingImg {
    0% {
        left: 0%;
    }
    10% {
        margin-left: -50px;
    }
    40% {
        left: 55%;
        margin-left: -50px;
    }
    50% {
        left: 55%;
        margin-left: -50px;
    }
    60% {
        left: 60%;
        margin-left: -50px;
    }
    70% {
        left: 60%;
        margin-left: -50px;
    }
    80% {
        left: 85%;
        margin-left: -50px;
    }
    90% {
        left: 85%;
        margin-left: -50px;
    }
    100% {
        left: 100%;
        margin-left: -50px;
    }
}

// 替換 Loading 的按鈕動畫
.starBtn-fade-enter-active {
    transition: all .3s ease;
}

.starBtn-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.starBtn-fade-enter,
.starBtn-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}