/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- color
$Primary: #F8F2ED;
$Secondary: #1a2930;
$Third: #A99C92;
$SecondaryPrimary: #000000;
$SecondaryColor: #619CFF;