/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- color
$Primary: #FFFFFF;
$Secondary: #58B3FF;
$Third: #7B60FF;
$SecondaryPrimary: #000000;
$SecondaryColor: #619CFF;
//- font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
$primary-font-style: 'Noto Sans TC',
sans-serif;